<% provide(:title, "About") %>

<h1>About</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">What's the Carpool Buddy?</h3>
  </div>
  <div class="panel-body">
    <p>
      It's an app developed by the Future Blue Web Team to help IBMers find a carpool for their daily commutes.
    </p>
  </div>
</div>
