<% provide(:title, "Benefits") %>

<h1>Benefits of Carpooling</h1>

<hr>

<div class="row top-buffer">
	<div class="col-sm-12 col-md-offset-2 col-md-8">
		<h1><i class="fa fa-car fa-2x"></i></h1>
		<h1>Share a ride!</h1>
		<p class="lead">
			Share Commute costs.
		</p>
		<p class="lead">
			Riders save the time, drivers save the money!
		</p>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-12 col-md-offset-2 col-md-8">
		<h1><i class="fa fa-globe fa-2x"></i></h1>
		<h1>Slow Global Warming!</h1>
		<p class="lead">
			When fossil fuels like petrol or diesel are burned, they give off carbon dioxide - the main climate change gas! 
		</p>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-12 col-md-offset-2 col-md-8">
		<h1><i class="fa fa-hand-peace-o fa-2x"></i></h1>
		<h1>Meet new Friends!</h1>
		<p class="lead">
			Through the IBM-internal Carpool Buddy, find a carpool buddy that you know you can trust.
		</p>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-12 col-md-offset-2 col-md-8">
		<p class="lead text-center">
			What are you waiting for? Start carpooling now!
		</p>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-12 col-md-offset-2 col-md-8">
  	<%= link_to "Offer a Ride", new_offer_path, class: "btn btn-lg btn-primary btn-block" %>
  	<%= link_to "View Carpool Offers", locations_path, class: "btn btn-lg btn-info btn-block" %>
	</div>
</div>