<% provide(:title, "Contact") %>

<h1>Contact</h1>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h2 class="panel-title">What's the Carpool Buddy?</h2>
		  </div>
		  <div class="panel-body">
		    <p>
		      It's an app developed by the IBM Future Blue Web Team to help coworkers find a carpool for their daily commutes. The app is available to all IBM employees.
		    </p>
		  </div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h2 class="panel-title">Questions? Comments?</h2>
			</div>
			<div class="panel-body">
			  <p>
					For general questions and comments, including account resets, please email <a href="mailto:futureblue@ca.ibm.com">Future Blue</a>, or contact <a href="mailto:jupeter5@ca.ibm.com">Peter Ju</a>.
			  </p>
			  <p>
			  	For any other cool project ideas for IBMers you have in mind, contact the current Web Team Lead, <a href="mailto:nisenbau@ca.ibm.com">David Nisenbaum</a>.
			  </p>
			  <p>
			  	Thank you for your interest in the Carpool Buddy!
			  </p>
			</div>
		</div>
	</div>
</div>
