<% provide(:title, "Contact") %>

<h1>Contact</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Future Blue</h3>
  </div>
  <div class="panel-body">
    <a href="#">fblue@ca.ibm.com</a>
  </div>
</div>
