<% provide(:title, "Permission Denied") %>

<h1>Permission Denied</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      You do not have access to view the requested resource.
    </p>
  </div>
</div>
