<% provide(:title, "Legal") %>

<h1>Legal</h1>

<hr>

<h3 class="text-center">Carpool Buddy Terms &amp; Conditions</h3>

<p>
	The IBM Carpool Buddy is a web application created by IBM's intern program, Future Blue, to act as a social matching service between IBM employees. The main goal of this application is to assist with ride matching; to help connect IBM employees who frequently drive to work, with other employees who currently commute by other methods or with other single-occupancy drivers.   Ride matching may assist in reducing the company's carbon footprint, and to help optimize commuting strategies by employees.
</p>
<p>
	The application also directs users to the Smart Commute program which IBM is partnered with, in order to encourage usage of their logging system to keep track of the environmental benefits of ride-sharing to promote IBM's green initiatives.
</p>
<p>
	This application strictly acts only as a listing service to provide contact information of carpools' offerers to carpool seekers, and does not facilitate any formal agreements. All the other necessary arrangements of a carpool, such as insurance coverage, meeting times, and commuting costs are outside the scope of the application. Individuals are responsible for providing and joining carpools at their own risk, and neither the application nor the company should be held responsible for any accidents and incidents that may occur as a result of using this listing service.
</p>
<p>
	Please check with your insurance company before starting a carpool. Each policy is different and some may require an additional endorsement for permission to carry passengers to and from work. Driving a carpool also may affect the vehicle usage rating. It is the responsibility of the carpool member to obtain proof that the driver(s) have obtained the appropriate insurance.
</p>