<% provide(:title, "Legal") %>

<h1>Legal</h1>

<hr>

<p>
	The IBM Carpool Buddy is not responsible for any accidents or incidents that may occur as a result of using the carpool matching service.
</p>