<% provide(:title, 'Edit Offer') %>

<h1>Edit Offer</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3" role="form">
    <%= render 'offer_form' %>
	<%= link_to "Edit Offer", "#legalModal", class: "btn btn-success btn-block top-margin", "data-toggle" => "modal" %>
  </div>
</div>