<% provide(:title, 'Offer Carpool') %>

<h1>Offer Carpool</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3" role="form">
    <%= render 'offer_form' %>
    <%= link_to "Create Offer", "#legalModal", class: "btn btn-primary btn-block top-margin", "data-toggle" => "modal" %>
  </div>
</div>