/* Custom colorset for Carpool Buddy */

$ibm-blue-10: #C0E6FF;
$ibm-blue-20: #7CC7FF;
$ibm-blue-30: #5AAAFA;
$ibm-blue-40: #5596E6;
$ibm-blue-50: #4178BE;
$ibm-blue-60: #325C80;
$ibm-blue-70: #264A60;
$ibm-blue-80: #1d3649;
$ibm-blue-90: #152935;
$ibm-blue-100: #010205;

$ibm-green-10: #c8f08f;
$ibm-green-20: #b4e051;
$ibm-green-30: #8cd211;
$ibm-green-40: #5aa700;
$ibm-green-50: #4b8400;
$ibm-green-60: #2d660a;
$ibm-green-70: #144d14;
$ibm-green-80: #0a3c02;
$ibm-green-90: #0c2808;
$ibm-green-100: #010200;





$vermillion: #333A56;
$sunshine: #52658F;
$clean: #E8E8E8;