/* Custom colorset for Carpool Buddy */

$ibm-blue-10: #C0E6FF;
$ibm-blue-20: #7CC7FF;
$ibm-blue-30: #5AAAFA;
$ibm-blue-40: #5596E6;
$ibm-blue-50: #4178BE;
$ibm-blue-60: #325C80;
$ibm-blue-70: #264A60;
$ibm-blue-80: #1d3649;
$ibm-blue-90: #152935;
$ibm-blue-100: #010205;

$ibm-green-10: #c8f08f;
$ibm-green-20: #b4e051;
$ibm-green-30: #8cd211;
$ibm-green-40: #5aa700;
$ibm-green-50: #4b8400;
$ibm-green-60: #2d660a;
$ibm-green-70: #144d14;
$ibm-green-80: #0a3c02;
$ibm-green-90: #0c2808;
$ibm-green-100: #010200;

$ibm-teal-10: #a7fae6;
$ibm-teal-20: #6eedd8;
$ibm-teal-30: #41d6c3;
$ibm-teal-40: #00b4a0;
$ibm-teal-50: #008571;
$ibm-teal-60: #006d5d;
$ibm-teal-70: #005448;
$ibm-teal-80: #003c32;
$ibm-teal-90: #012b22;
$ibm-teal-100: #000202;

$ibm-gray-10: #e9e0e0;
$ibm-gray-20: #d0c7c7;
$ibm-gray-30: #b8aeae;
$ibm-gray-40: #9e9494;
$ibm-gray-50: #7d7373;
$ibm-gray-60: #645a5a;
$ibm-gray-70: #504646;
$ibm-gray-80: #3c3232;
$ibm-gray-90: #1a1314;
$ibm-gray-100: #030000;
