/* The Master Stylesheet for IBM Carpool Buddy.

Some general style rules:
  - links or buttons, when hovered over, should get darker (light link ->hover-> darker)
  - stick to using the IBM design colors (http://www.ibm.com/design/language/resources/swatchbook/)
  - use scss to isolate components as much as possible

*/


@import "accessible";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
@import "button-overrides";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

.top-buffer {
  padding-top: 50px;
}

.top-margin {
  margin-top: 20px;
}

.home-panel-spacer {
  margin-top: 21.5px;
}

body {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #555;
}

h4.panel-title {
  font-size: 2em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.panel-body{
  ol {
    li {
      margin: 0 0 10px 0;
      font-size: 1.1em;
    }
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: $ibm-blue-80;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #1d3649;
  text-decoration: none;
}

.navbar-default .navbar-nav li a {
  color: $ibm-blue-60;
  position: relative;
}

.navbar-default .navbar-nav li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $ibm-blue-70;
  visibility: hidden;
  -webkit-tranform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar-default .navbar-nav li a:hover{
  color: $ibm-blue-70;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #555;
  a {
    text-decoration: none !important; 
    color: #111;
    &:hover {
      color: #333;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Popovers */

.popover{
  width:350px;
}


/* Locations index */

.locations {
  a {
    text-decoration: none;
  }
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  font-size: 2em;
  text-align: center;
}

.home-locations {
  a {
    text-decoration: none;
  }
  list-style: none;
  font-size: 1.5em;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
    }
  }
}


/* offers */

.offers {
  list-style: none;
  padding: 0;
  /*font-family: 'Times New Roman', 'Neuton', serif;*/
  font-size: 1em;
  li {
    padding: 40px 0;
    border-top: 1px solid #e8e8e8;
  }
  .title {
    font-size: 1.5em;
    a {
      text-decoration: none;
    }
  }
  .specific-location {
    color: #555;
    font-size: 1.3em;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .not-available {
    background-color: #d3d3d3;
  }
  .not-available .user {
    margin-top: 5em;
    padding-top: 0;
    margin-left: 60px;
  }
  .postal-code {
    display: block;
    margin-left: 60px;
    color: #E00000;
  }
  .flexible-hours {
    display: block;
    margin-left: 60px;
  }
  .brief {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .btn {
    font-family: 'Montserrat', sans-serif;
  }
}


/* home */

.jumbotron {
  color: white;
  background: url('cp3.png') no-repeat center center;
  width: 100%;
  height: 100%;
  background-size: 100%;
  h2 {
    color: inherit;
  }
}

.feature-panel {
  display: table;
  table-layout: fixed;
  min-width: 100%;
  
  .va-middle {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  h3 {
    font-size: 2em;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
  }
}

