<% provide(:title, 'Manage Locations') %>

<h1>Manage Locations</h1>

<ul class="locations">
	<%= render @locations %>
</ul>

<hr>

<%= link_to "Add a Location", new_location_path, class: "btn btn-lg btn-primary btn-block" %>
